@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.drinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.active {
    font-weight: bold;
    color: red; 
}

.disabled {
    color: seagreen; 
    cursor: not-allowed;
    pointer-events: none; 
    text-decoration: none; 
}

header {
    background-color: hsla(210, 70%, 85%, 1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a.active {
    font-weight: bold;
    color: red; 
}

nav ul li a.disabled { 
    cursor: not-allowed;
    pointer-events: none;
}

.responsive-img {
    width: 100px; 
    max-width: 100%;
    height: auto; 
  }
  
  
  @media (min-width: 640px) {
    .responsive-img {
      width: 150px; 
    }
  }
  
  @media (min-width: 768px) {
    .responsive-img {
      width: 200px; 
    }
  }
  
  @media (min-width: 1024px) {
    .responsive-img {
      width: 300px; 
    }
  }
  
  @media (min-width: 1280px) {
    .responsive-img {
      width: 400px; 
    }
  }

  @media (min-width: 1536px) {
    .responsive-img {
        width: 500px;
    }
  }