@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.css';

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to top,
    rgba(91, 182, 63, 0.116) 10%,
    rgba(63, 182, 136, 0.459) 40%,
    rgba(13, 179, 101, 0.459)
  );
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.drinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  gap: 0.5rem;
  justify-items: center;
}

.dish-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drink-item {
  position: relative;
  cursor: pointer;
}

.dish-name {
  position: absolute;
  font-size: x-small;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 5px;
  color: wheat;
  background: rgba(0, 0, 0, 0.5);
  width: max-content;
}

.dish-content {
  display: flex;
  max-width: 800px;
  position: relative;
  align-items: flex-start;
}

.drink-content {
  position: relative;
}

.dish-description {
  margin-left: 20px;
  flex: 1;
}

.drink-name {
  position: absolute;
  bottom: 0;
  right: 0;
  color: wheat;
  background: rgba(0, 0, 0, 0.5);
}

.active {
  font-weight: bold;
  color: red;
}

.disabled {
  color: seagreen;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
}

header {
  background-color: hsla(210, 70%, 85%, 1);
  box-shadow: darkslategray 0px 2px 5px;
  max-height: 180px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a.active {
  font-weight: bold;
  color: red;
}

nav ul li a.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.responsive-img {
  width: 150px;
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  width: auto;
  max-width: 100%;
}

.logo-container {
  width: 7vw;
  height: 7vw;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  margin: -10px;
  left: -30px;
}

.swiper-background {
  background: rgba(70, 189, 100, 0.342);
}

.swiper {
  width: 100%;
  padding: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.swiper-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 640px) {
  .responsive-img {
    width: 150px;
  }

  .image-container {
    position: relative;
    width: 200px;
  }

  .logo-container {
    max-width: 250px;
    max-height: 250px;
  }
}

@media (min-width: 768px) {
  .responsive-img {
    width: 200px;
  }

  .image-container {
    position: relative;
    width: 250px;
  }

  .logo-container {
    max-width: 250px;
    max-height: 250px;
  }
}

@media (min-width: 1024px) {
  .responsive-img {
    width: 300px;
  }

  .image-container {
    position: relative;
    width: 300px;
  }

  .logo-container {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (min-width: 1280px) {
  .responsive-img {
    width: 400px;
  }

  .image-container {
    position: relative;
    width: 350px;
  }

  .logo-container {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (min-width: 1536px) {
  .responsive-img {
    width: 500px;
  }

  .image-container {
    position: relative;
    width: 400px;
  }

  .logo-container {
    max-width: 200px;
    max-height: 200px;
  }
}